:root {
    --black-900 : #09090B;
    --black-700 : #18181B;
    --gray-500  : #3E3E44;
    --gray-100  : #A1A1AA;
    --white-100 : #FAFAFA;
    --white-200 : #797979;
    --green-700 : #1A2E05;
    --green-100 : #BEF264;
}

.container{
    gap: 80px;
    margin: 45px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bemVindo>div{
    
    max-width: 600px;
}

.container>div>h2{
    color: var(--green-100);
    font-size: 40px;
}

#bemVindo>div>h2>span{
    color: var(--black-900);
    display: inline-block;
    background-color: var(--white-100);
}

#bemVindo>div>.lineBottom{
    width: 200px;
    height: 8px;
    margin: 16px 0;
    border-radius: 0 20px 20px 0;
    background-color: var(--white-100);
}

.container>div>p{
    margin: 32px 0 45px;
}
.container .button{
    color: var(--green-100);
    border: 1px solid var(--green-100);
    display: inline-block;
    padding: 12px 32px;
    border-radius: 6px;
}

.container a.button:hover{
    color: var(--black-900);
    background-color: var(--green-100);
}

#quemSomos{
    margin: 85px 0;
}
#quemSomos>div>p{
    padding: 0 0 0 20px;
    border-left: 5px solid var(--green-100);
}

#cadsCursos{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cadsCursos>section{
    max-width: 386px;
    height: 320px;
    border: 1px solid var(--gray-500);
    border-radius: 6px;
    background-color: var(--black-700);
}
#cadsCursos .imagem{
    width: 385px;
    height: 150px;
    border-top: 1px solid var(--gray-500);
    border-left: 1px solid var(--gray-500);
    border-right: 1px solid var(--gray-500);
    border-radius: 6px 6px 0 0;
    background-color: var(--gray-500);
}
#cadsCursos>section>h3{
    padding: 5px 13px;
}
#cadsCursos>section>p{
    color: var(--green-100);
    padding: 5px 13px;
    font-size: 14px;
    font-weight: 300;
}
#cadsCursos>section>.perfilProf{
    gap: 8px;
    display: flex;
    padding: 13px;
    align-items: center;
}
#cadsCursos>section>.perfilProf p{
    
    padding: 3px;
}
#cadsCursos>section>.perfilProf .atuacao{
    color: var(--gray-100);
    font-weight: 300;
}

#cadsCursos>section>.perfilProf img{
    width: 40px;
    height: 40px;
    border: 1px solid var(--green-100);
    border-radius: 50%;
    background-color: var(--gray-500);
}


