:root {
    --black-900 : #09090B;
    --black-700 : #18181B;
    --gray-500  : #3E3E44;
    --gray-400  : #7C7C8A;
    --gray-100  : #A1A1AA;
    --white-100 : #FAFAFA;
    --white-200 : #797979;
    --green-700 : #1A2E05;
    --green-100 : #BEF264;
    --gray-alpha: rgba(24, 24, 27, 0.985);
    
}
main{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 45px;
    justify-content: space-between;
}

.perfil{
    height: 432px;
    padding: 24px;
    border: 1px solid var(--gray-500);
    max-width: 358px;
    margin-top: 180px;
    border-radius: 12px;
    background-color: var(--black-700);
}

.perfil>img, .perfil>h2, .perfil>span, .perfil>p, .perfil>ul{
    top: -140px;
    position: relative;
}

.perfil>img{
    width: 240px;
    height: 240px;
    border: 3px solid var(--green-100);
    margin: auto;
    display: block;
    border-radius: 50%;
    background-color: var(--black-900);
}

.perfil>h2{
    padding: 24px 0 0 0;
    text-align: center;
}

.perfil>span{
    color: var(--green-100);
    display: block;
    padding: 0px 0 28px 0;
    font-size: 15px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 24px;
    border-bottom: 2px solid var(--gray-500);
}

.perfil>p{
    text-align: center;
}

.perfil>ul{
    gap: 10px;
    display: flex;
    padding: 32px;
    list-style-type: none;
    justify-content: center;
}

